@import 'tailwindcss';
@import 'tailwindcss/preflight'
@tailwind utilities;

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";
@source "../views";

@font-face {
    font-family: "LexendMega";
    src: url("LexendMega.ttf");
}
html {
    font-family: "LexendMega";
}

.neo-shadow {
    box-shadow: 4px 6px black;
}
